/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

  #contact #send-mail {
    width: 20%;
    position: relative;
    text-indent: 30px;
    margin: 3em auto 5em auto;
    color: #fff;
    border-color: #fff;
    font-size: 1em;
    padding: 1.5em 0;
}

.button {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border: 2px solid transparent;
  display: block;
  margin: 0 auto;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.5s ease-in-out, 1s;
  -moz-transition: background-color 0.5s ease-in-out, 1s;
  -o-transition: background-color 0.5s ease-in-out, 1s;
  transition: background-color 0.5s ease-in-out, 1s;
  text-decoration: none;
}


